a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  background: rgb(255, 124, 0);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 124, 0, 1) 0%,
    rgba(235, 153, 11, 1) 50%,
    rgba(246, 239, 7, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 124, 0, 1) 0%,
    rgba(235, 153, 11, 1) 50%,
    rgba(246, 239, 7, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 124, 0, 1) 0%,
    rgba(235, 153, 11, 1) 50%,
    rgba(246, 239, 7, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7c00",endColorstr="#f6ef07",GradientType=1);
  overflow-x: hidden;
}

::selection {
  background-color: #6efc4e;
  color: #eb17af;
  text-shadow: 1px -2px 11px rgba(0, 0, 0, 0.87);
}
